<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/list.css" />
        <title>CART LIST</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="js/list.js"></script>
    </head>
    <body>
        <h1>CART LIST</h1>
        <br>
        <select id="dates" onchange="selectdate(this)">
            
        </select>

        <table class="list">
            <thead>
                <tr>
                    <th>no</th><th>담은 날짜</th><th>상품명</th><th>가격</th><th>수정</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
        <a href="/main">쇼핑 계속하기</a>
    </body>
</html>